h1 {
    background-color: pink; 
    text-align: center;
    font-family: 'Pacifico', cursive;
    padding: 12px;
}
h4 {
    background-color: rgb(243, 240, 64);
    font-family: 'Pacifico', cursive;
    padding: 12px;
    margin-right: 1076px;
    text-align: center;
    
}


.emotions {
    border: 3px dotted black;
    background-color: rgb(245, 71, 71);
    color: white;
    padding: 10px;
    margin-right: 25px
}
.emotions:hover {
    background-color: rgb(243, 243, 91);
    color: black;
    margin-right: 25px
}
.wrapper {
    border: 2px solid black;
    height: 138px;
    width:300px;
    background-color: rgb(243, 243, 91);
    text-align: center;
    margin :10px;
    font-family: 'Pacifico', cursive;
}
label {
    color: black;
    font-size: 1.4rem;

}
.gifImg {
    display: inline-block;
}
.gif {
    width: 200px;
    height: 200px;
    margin: 5px;
}
#add-emotion, #Home {
    border: 3px dotted black;
    background-color: rgb(245, 71, 71);
    color: white; padding: 10px;
    padding: 10px;

}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
     {
      width: 100%;
    }
  }